body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
    transition: filter 0.3s ease-out; /*

.avatar-container {
    overflow: hidden; /* Oculta el contenido que sobresale cuando la imagen se transforma */
    position: relative; /* Necesario para el posicionamiento absoluto del efecto */
}

.avatar-container:hover .avatar {
    filter: brightness(50%) contrast(150%) blur(2px); /* Cambia la apariencia de la imagen al pasar el mouse */
}
  
.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #ddebf8;
    color: #2b2839;
    border-bottom: 6px solid #d8cefe;
}
